body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.block {
	background-color: #C4FFD9;
	border: 1px solid #58FF94;
	color: #007E06;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 14px;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #58FF94;
	margin: 1em 0;
	padding: 0; 
}
td {
	border: 1px solid #58FF94;
	text-align: center;
}
p.menu a {
	margin-right: 15px;
}
.footer {
	background-color: #007E06;
	border: 1px solid #58FF94;
	color: #C4FFD9;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 14px;
	padding-top: 14px;
}